@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
    overflow-x: hidden;
    margin-left: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

/*---------Code to fix fixed-top navbar overlapping into other sections of the page found at https://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site*/

body { 
    padding-top: 40px;
   }
@media screen and (max-width: 768px) {

    body { 
        padding-top: 0px; 
    }
}

/*-------------Navbar*/

.bg-dark {
    background-color: #2c3237!important;
}


.navbar-brand {
    font-family: 'Architects Daughter', cursive;
    color: #ffb6c1!important;
}

.nav-link, a {
    font-family: 'Architects Daughter', cursive;
    font-size: 26px;
    color:  #ffb6c1!important;
}

a:hover {
    color: #fafafa;
}

/*--------Hero Image section*/

.hero-container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}


.hero-image {
    background-image: url("../images/tokyo-lanterns.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero-text-box {
    position: absolute;
    flex-direction: column;
    display: flex;
    height: 60px;
    top: 30%;
    left: 19%;
    width: 300px;
    color: #fafafa;
    font-size: 20px;
    letter-spacing: 2px;
    align-items: center;

}


.explore-btn {
    border: 2px solid #ffb6c1;
}

.go-btn {
    color: #fafafa!important;
    font-family: 'Architects Daughter',cursive;
    text-decoration: none;
}




/*---------About section*/

.tokyo-info {
    font-family: 'Architects Daughter',cursive;
    letter-spacing: 3px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
}

.tokyo-para {
    margin: auto;
    text-align: center;
}

.about-container {
    align-items: center;
    background-color: #f5edec;
    padding-bottom: 28px;
}

.small-hr {
    border-top: solid #ffb6c1 4px;
}

.pink-line {
    border-top: solid #ffb6c1 4px;
}

.offer-header {
    font-family: 'Architects Daughter',cursive;
    text-align: center;
    font-size: 30px;
    padding-top: 32px;
    padding-bottom: 28px;
}


.offer-list {
    font-family: 'Raleway',sans-serif;
    padding-bottom: 40px;
    text-align: center;
}

.btn-request {
    background-color: #f37b8d;
    color: #fafafa;
    border: black 3px;
    margin-top: 15px;
}

.brochure {
    text-decoration: none!important;
    color: #fafafa!important;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
}






/*---------Explore section*/

.area-pics {
    justify-content: space-around;
    display: flex;
}

.area-options {
    background-color: #f5edec;
    height: 80px;
    align-items: center;
}

.explore-hdg {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Raleway',sans-serif;
}

.area-card {
    position: relative;
    width:90%;
    height: auto;
    margin: auto;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.area-card h4 {
    position: absolute;
    bottom: 10%;
    left: 35%;
    color: #fafafa;
    font-size: 38px;
    font-family: 'Architects Daughter', cursive;
    letter-spacing: 3px;
    font-weight: 500;
}

.img-card {
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

div#map {
    min-height: 360px;
}

.map-container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5edec;
}

.map-area {
    background-color: #f5edec;
}

.btn-area {
    background-color: #ffb6c1;
    color: #fafafa;
}

.info-hdg {
    font-family: 'Architects Daughter', cursive;
    font-size: 36px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    letter-spacing: 3px;
}

.info-txt {
    font-family: 'Raleway',sans-serif;
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}

.map-link {
    text-decoration: none!important;
    color: #ffb6c1;
    padding-top: 40px;
    margin-top: 20px;
}

.map-link:hover {
    color: #fafafa;
}




/*---------Highlights section*/

.highlights-hdg {
    font-family: 'Architects Daughter', cursive;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 3px;
}

.highlights-hdg-sm {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 40px;
    text-align: center;
}
.hdg-container {
    padding-top: 40px;
}

.picks-container {
    justify-content: space-around;
    display: flex;
}

.highlight-box {
    position: relative;
    width:70%;
    height: auto;
    margin: auto;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.highlight-pic {
    object-fit: cover;
    width: 100%;
    height: 40vh;
}

.btn-hi {
    background-color: #ffb6c1;
    color: #fafafa;
    padding-top: 5px;
    margin-top: 10px;
    margin-left: 80px;
}

.picks-hdg {
    font-family: 'Raleway',sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.hidden-card {
    text-align: center;
    font-family: 'Raleway',sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5edec;

}



/*---------Contact form section*/

.contact-form {
    margin: auto;
    padding-bottom: 30px;
}

.contact-hdg {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 40px;
}

.contact-text {
    font-family: 'Raleway',sans-serif;
    padding-bottom: 20px;
}


.footer {
    background-color: #2c3237;
}

.social-icon {
    color: #ffb6c1;
    padding-top: 20px;
    padding-left: 50px;
}

.footer-text {
    color: #ffb6c1;
    padding-top: 20px;
    font-size: 22px;
}
