@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/*-------------Navbar*/

.custom-nav {
    font-family: 'Architects Daughter',cursive;
    font-size: 22px;
    color: #ffb6c1;
}

.navbar-brand {
    font-size: 28px;
    color: #ffb6c1
}

/*--------Hero Image section*/

.hero-image {
    background-image: url("../images/tokyostreet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    max-width: 100%;
    position: relative;
}

.hero-text-box {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 20%;
    margin-top: 25%;
    height: 50%;
}

.hero-hdg {
    font-family: 'Architects Daughter', cursive;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffb6c1;
    padding-bottom: 20px;
}

.hero-txt {
    font-family: 'Raleway',sans-serif;
    padding-top: 15px;
    text-align: center;
    color: #a9a9a9;
}

.explore-btn {
    color: blanchedalmond;
    border: 2px solid #ffb6c1;
}


/*---------Explore section*/

.area-pics {
    justify-content: space-around;
    display: flex;
}

.explore-hdg {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Raleway',sans-serif;
}

.area-card {
    position: relative;
    width:90%;
    height: auto;
    margin: auto;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.area-card h4 {
    position: absolute;
    bottom: 10%;
    left: 35%;
    color: #fafafa;
    font-size: 38px;
    font-family: 'Architects Daughter', cursive;
    letter-spacing: 3px;
    font-weight: 500;
}

.img-card {
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

div#map {
    min-height: 360px;
}

.map-container {
    padding-top: 40px;
    padding-bottom: 28px;
}

.btn-area {
    background-color: #ffb6c1;
    color: #fafafa;
}

.info-hdg {
    font-family: 'Architects Daughter', cursive;
    font-size: 36px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    letter-spacing: 3px;
}

.info-txt {
    font-family: 'Raleway',sans-serif;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}


/*---------Highlights section*/

.highlights-hdg {
    font-family: 'Architects Daughter', cursive;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 3px;
}

.highlights-hdg-sm {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 40px;
    text-align: center;
}

.hdg-container {
    background-image: url("../images/japan-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100%;
}

.picks-container {
    justify-content: space-around;
    display: flex;
}

.highlight-box {
    position: relative;
    width:70%;
    height: auto;
    margin: auto;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.highlight-pic {
    object-fit: cover;
    width: 100%;
    height: 40vh;
}

.btn-hi {
    background-color: #ffb6c1;
    color: #fafafa;
    padding-top: 5px;
    margin-top: 10px;
    margin-left: 80px;
}

.picks-hdg {
    font-family: 'Raleway',sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pink-line {
    color: #ffb6c1;
    border-top: 4px solid;
}