@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto&display=swap');

/*-------------Navbar*/

.custom-nav {
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
}

.navbar-brand {
    font-size: 28px;
}

/*--------Hero Image section*/

.hero-image {
    background-image: url("../images/tokyostreet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    max-width: 100%;
    position: relative;
}

.hero-text-box {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 20%;
    margin-top: 25%;
    height: 50%;
}

.hero-hdg {
    font-family: 'Raleway',sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fafafa;
}

.hero-txt {
    font-family: 'Raleway',sans-serif;
    padding-top: 15px;
    text-align: center;
    color: blanchedalmond;
}

.explore-btn {
    color: blanchedalmond;
    border: 2px solid blanchedalmond;
}


/*--------Explore section*/

.area-pics {
    justify-content: space-around;
    display: flex;
}

.explore-hdg {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Raleway',sans-serif;
}

.area-card {
    position: relative;
    width:90%;
    height: auto;
    margin: auto;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.area-card h4 {
    position: absolute;
    bottom: 10%;
    left: 35%;
    color: #fafafa;
    font-size: 38px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
}

.img-card {
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

div#map {
    min-height: 300px;
}
